body{
padding    : 0px;
margin     : 0;
font-family: Helvetica;
background-color: brown;
}

header {
    display: block; 
    background-color: blueviolet;
    background-color: darkgreen;
    margin: 0%;
    
    /* margin-bottom: 120px; */
}


#header {
background-color: blanchedalmond;
background-image  : url('images/wood-bg.png'); 
}

#header img{
display: block;
margin : auto;
height : 70%;
padding-top: 15px;
}

#tabs-top-container {
    position: fixed;
    top     : 0;
    left    : 0;
    z-index : 500;
    margin: 0px;
    width   : 100%;
    height  : 100px;  
    background-color: rgba(0, 100, 0, 0.151);
}

#tabs-top {
    position: fixed;
    top     : 80px;
    left    : 0;
    z-index : 500;
    margin: 0px;
    width   : 100%;
    background-color: darkgreen;
}


#tabs-top ul {
    color: black;
    display: flex;
    list-style: none;
    justify-content: space-around;
    margin: 10px;
    padding: 10px;
}

#tabs-top a {
justify-content: space-between;
height  :35px;
font-weight : 700;
color       : white;
text-align  : center;
text-decoration : none;
padding-top     : 12px;  
margin: 20px;
padding: 5px;
} 

#tabs-top a:hover {
    background-color: rgba(4, 206, 21, 0.678);
}

#tabs-bottom{
position : fixed;
bottom   : 0;
left     : 0;
z-index  : 500;
width    : 100%;
height   : 40px;
background-color: forestgreen;
padding: 10px;
margin: 0px;
} 

#tabs-bottom a{
float : left;
display : block;
width : 50%;
height : 35px;
font-weight : 700;
color       : white;
text-align  : center;
text-decoration : none;
padding-top: none;
} 

#tabs-bottom a:hover {
    background-color: rgba(4, 206, 21, 0.678);
}


#main-home {
    /* display: block; */
    /* position: fixed; */
    /* top     : 400px; */
    /* left    : 0; */
    /* z-index : 500; */
    background-color: blanchedalmond;
    padding: 20px;
    /* margin-top: 100px; */
    width: 100% -1;
    height: 100%; 
    padding-bottom: 100px; 
}

#main-home-image {
    padding: 10px;
    margin: 20px;
}

#main-home-image img {
    display: block;
    margin: auto;
    width: 100%;
    height: 200px;
}

#main-footer {

    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 500;
    width: 100%;
    height: 50px;
    background-color: rgba(0, 100, 0, 0.151);
}

#main{
margin-top: 119px;
background: url('images/map-blur.png');
background-repeat: repeat-y;
}

#content{
padding-top: 1px;
padding-bottom: 50px;
}


a.info-box{
text-decoration : none;
background      : rgba(206, 201, 176, 0.8);
width           : 90%;
height          : 90px;
display         : block;
margin          : auto;
margin-top      : 12px;
padding         : 1px;
}

.info-box img{
height : 70px;
margin : 10px;
float  : left;
}
.info-box h3{
padding : 0;
margin-bottom :0;
width : 90%;
color : #572800;
}
.info-box p{
margin  : 0;
padding : 0;
width   : 90%;
color   : 131313;
}


.info-box img.right{
float      : right;
margin-top : 25px;
height:     40px;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

#home-container {

    background-color: white;
    padding: 20px;
    margin: 20px;
    width: 100%;
    height: 100%;
}